@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Raleway&display=swap');

/*----------------------------------------------------------General Structure & Commmon Components*/
* {
    margin: 0px;
    padding: 0px;
}


body {
font-family: 'Raleway', sans-serif;
color: #222222;
}

.logo {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

ul {
    list-style: none;
}

h2 {
    text-align: center;
    font-size: 50px;
    font-family: "Dancing Script", sans-serif;
    color:#222222; 
    margin: 20px;
}

h3 {
    font-size: 35px;
    font-family: "Dancing Script", sans-serif;
    color:#222222;
}

h5 {
    text-align: center;
    font-size: 20px;
    font-family: "Dancing Script", sans-serif;
    color:#222222;
}

h6 {
    text-align: center;
    font-size: 25px;
    font-family: "Dancing Script", sans-serif;
    color:#222222;
}

.body-container {
    padding-bottom: 30px;
}

.body-content {
    display: block;
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;      
}

.hr-med { 
    width: 50%;
    border-top: 1px solid #222222;
    border-radius: 5%;
    margin-top: 1.875rem;
    margin-bottom: 1.875rem;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
}

.button {
    color: #222222;
    border-radius: 5px;
    border: none;
    text-align: center;
    padding: 2.5px 5px 2.5px 5px;
}

.button:hover {
    background-color: #A5907C;
}

.button-green {
    background-color: rgb(145, 172, 152, 0.7);
    border-radius: 5px;
    border: none;
    text-align: center;
    padding: 2.5px 5px 2.5px 5px;
}

.button-green:hover {
    background-color: #A5907C;
}

/*----------------------------------------------------------Colours*/

.green {
    background-color: rgb(145, 172, 152, 0.7);
}

.beige {
    background-color: rgb(165, 144, 124, 0.5); 
}
/*----------------------------------------------------------Nav Bar*/
/*The code below will target and over ride style rules in the bootstrap nav bar,
how to do this was learnt via Web Dev Tutorials Channel on Youtube, see credits in README.md code is customized and my own */

.fixed-top {
    position: fixed;
}
.nav-menu .navbar-dark {
    background-color: #91AC98!important;
}
.nav-menu .navbar-toggler {
    padding-right: 25px;
    border: none;
    font-size: 20px;
}

.navbar-nav {
    text-align: right;
    margin-right: 20px;
}

.nav-link {
    font-size: 15px;
    margin: 4px;
}

@media only screen and (min-width: 1200px) { /*This media query will make the Navbar text bigger on medium to large screens*/
    .nav-link {
    font-size: 20px;
    }
}

.navbar-brand img {
    margin-left: 20px;
    margin-right: 20px;
}

.navbar-brand {
    font-size: 30px;
    color: #222222!important;
    font-family: 'Dancing Script', sans-serif;
}

@media only screen and (max-width: 600px) { /*This media query will make the Navbar brand text disappear on smaller screens*/
    .navbar-brand {
    font-size: 0px;
    }
}

a.nav-link.hvr-underline-from-center::before{ /* Hover animation was found at https://ianlunn.github.io/Hover/ */
    background-color: white;
    height: 1px;
}

.dropdown-menu {
    background-color:#91AC98;  
}

a.dropdown-item {
    color: white;
}

a.dropdown-item:active {
    background-color: #A5907C;
}
/*--------------------------------------------------------------------------------BODY CONTENT BELOW*/

/*----------------------------------------------------------Call Out Container*/

/*The Below is Taken & Modified from Matt Rudge Whiskey Drop Challenge Code Institute*/

.callout-container {
    background: url(../assets/images/home/heroimage.jpg) no-repeat center center fixed; /*Call out image : Thanks to Jared Rice at unsplash.com*/
    height: 90vh;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
    align-items: center;
    justify-content: center;
    position: relative;    
}

.call-to-action{
    align-items: center;
    position: absolute;
    max-height: 100px;
    text-align: center;
    margin-top: 250px;
}

.jumbotron {
    background-color: transparent;
}

.call-to-action h1 {
    color: white;
    font-size: 60px; 
    text-transform: capitalize;
    text-align: center;
}

.booking-btn {
    font-family: 'Dancing Script', sans-serif;
    color: #A5907C;
    background-color: white; 
    border-radius: 30px;
    font-size: 30px;
    border: none;
    padding: 10px 15px 10px 15px;
}

a.btn.booking-btn:hover {
    background-color: #91AC98;

}

/*The media queries below will style the call to action to adjust for different screen
types so the effect and position is as consitent as possible over multiple devices*/

@media only screen and (max-width: 600px) {
    .call-to-action h1 {
    font-size: 25px;
    }
}

@media only screen and (min-width: 768px) {
    .call-to-action {
        margin-top: 300px;
    }
}

@media only screen and (min-width: 992px) {
    .call-to-action {
        margin-top: 500px;
    }
}

@media only screen and (min-width: 1200px) {
    .call-to-action {
        margin-top: 250px;
    }
}

@media only screen and (min-width: 1700px) {
    .call-to-action {
        margin-top: 350px;
    }
}

/*----------------------------------------------------------Schedule & Resources Hero Image*/
/*The Below is Taken & Modified from Matt Rudge Whiskey Drop Challenge Code Institute.
This code will style the Hero Image on the Schedule & Pricing Page*/

.schedule-hero-img {
    background: url(../assets/images/schedule/sazonovasc.jpg) no-repeat center center fixed; /*Hero image : Thanks to Elly Sazonova at pexels.com*/
    height: 90vh;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    align-items: center;
    justify-content: center;
    position: relative;
}

.resources-hero-img {
    background: url(../assets/images/resources/aaronburden.jpg) no-repeat bottom center fixed; /*Hero image : Thanks to Aaron Burden unsplash.com*/
    height: 90vh;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    align-items: center;
    justify-content: center;
    position: relative;
}

/*----------------------------------------------------------Offering*/

.carousel-off {
    padding-bottom: 30px;
}

/*----------------------------------------------------------Testimonials*/
/*The code below will style the reviews in the Testimonials section*/
.reviews {
    text-align: center;
}

.reviews-p {
    text-align: justify;
    font-size: 20px; 
    padding-bottom: 20px; 
    background-color: rgb(145, 172, 152, 0.5);
    margin-top: 10px;
}
.review-images {
    width: 200px;
    height: 200px;
    margin: auto;
    margin-top: 15%;  
}

/*----------------------------------------------------------FAQs*/


.faqs {
    background-color: rgb(165, 144, 124, 0.5);
}

.faqs-questions {
    background-color: white;
    margin-top: 5px;
    border-bottom: #222222 solid 1px;
}
.faqs-p {
    text-align: justify;
    font-size: 20px; 
    padding-bottom: 20px; 
}

/*----------------------------------------------------------Schedule & Pricing*/

.schedule-container {
    background-image: url(../assets/images/schedule/cottonbro.jpg);/*Image: Thanks to cottonbro at pexels.com*/
    background-repeat: no-repeat; /*Code borrowed and customized from Brian O'Grady Love Running Challenge*/
    background-size: cover;
    background-position: center;
    width: 100%;
    overflow: hidden;
    margin-bottom: 30px;
    padding-left: 10px;
    padding-right: 5px;
    
}

#pricing-span {
    background-color: #91AC98;
    font-style: italic;
    font-size: 15px;
    color: white;
}

.schedule-head {
    background-color: rgb(255, 255, 255, 0.7);
}

.schedule-p {
    text-align: center;
    color: white;
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 2.5px;
}

div.col-sm-12.col-md-3 {
    margin: 0px;
    padding: 0px;
    background-color:  rgba(34, 34, 34, 0.5);
}

h3.schedule-head {
    margin: 0px 0px 0px 0px;
    text-align: center;
}

th {
    font-size: 21px;
}

td {
    font-size: 22px;
}

/*----------------------------------------------------------Free Resources*/

iframe {
    border-width: 0px;
}
a.resource-link {
    color: #91AC98;
    font-style: italic;
}

.iframe-resources{
    position: relative;
    width: 80%;
    padding-bottom: 25%; 
    height: 0;
}
.iframe-resources iframe{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*The above code was taken and customized from "tips with punch" YouTube Tutorial*/


.article {
    text-align: center;
    background-color: rgb(145, 172, 152, 0.7);
    height: 100%;
    margin: 0px;
}

.article-p {
    text-align: justify;
    background-color:  white;
    padding: 5px;
    height: 50vh;
    overflow-y: scroll;
    }


/*----------------------------------------------------------Forms*/
/*The form will not submit to any data base as this is not required for the MS1
this will be updated to function in the future*/

.form {
    background-color:rgb(145, 172, 152, 0.5);
    padding-top: 20px;
    padding-bottom: 20px;
}

input#name.form-control:hover {
    border: solid black 1px;
}

input#email_address.form-control:hover {
    border: solid black 1px;
}

textarea#textarea1.form-control:hover {
    border: solid black 1px;
}

/*Booking Form Specific*/

input#contact.form-control:hover {
    border: solid black 1px;
}

.booking-form {
    text-align: center;
    margin-top: 5px;
    font-size: 15px;
}

#date {
    color: #222222;
    border-radius: 5px;
    border: none;
    text-align: center;
    padding: 2.5px 5px 2.5px 5px;
}

input#date:hover {
    border: solid black 1px;
    background-color:rgb(165, 144, 124, 0.5);
}

.booking-form.radio:active {
    background-color: black!important;
    color: black;
}

input#name.form-control {
    display: inline;
}
/*--------------------------------------------------------------------------------BODY CONTENT END*/

/*----------------------------------------------------------Footer*/
/*Some of the Below is Taken & Modified from Matt Rudge UCD Resume Challenge Code Institute,
this code will style the footer*/

footer {
    background-color: #91AC98;
    color: white; 
    font-size: 10px;
    padding: 8px 16px 8px 16px;
    min-height: 100px;
}

.footer-head {
    display: block;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
} 

.footer {
    display: block;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px; 
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);   
}


p.footer i {
    width: 30px; 
    height: 30px;
    padding: 10px;
    margin-right: 2px;  
    font-size: 15px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5); 
    line-height: 10px;
    text-align: center;
    color: #fafafa;
    
}
/*The code below will style the logo in the footer*/

img.logo.footer {
    margin-right: auto;
    margin-left: auto;
    margin-top: 15px;
    width: 80px;
    height: 80px;
}

/*The code below will style the social media buttons*/
.social-btns {
    text-align: center;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    
}
.social-btns li {
    display: inline;
}

.social-btns li a i {
    width: 30px; 
    height: 30px;
    padding: 10px;
    padding-bottom: 0px;
    margin-right: 2px;
    font-size: 15px;
    line-height: 10px;
    text-align: center;
    color: #fafafa; 
}

ul.social-btns {
    margin-bottom: 5px;
}

.social-btns li a i:hover {
    background-color: #fafafa;
    border-radius: 50%;
    color: black;
}

/*The code below will generate a sign up form for a newsletter*/
/*#newsletter {
    text-align: center;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.newsletter {
    color: #222222;
    border-radius: 5px;
    border: none;
    padding: 2.5px 2px 2.5px 2px;
}

input#email.newsletter:hover {
    border: solid black 1px;
}*/

/*End*/
