@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Raleway&display=swap');

/*----------------------------------------------------------General Structure & Commmon Components*/
* {
    margin: 0px;
    padding: 0px;
}


body {
font-family: 'Raleway', sans-serif;
color: #222222;

}

.logo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.uppercase {
    text-transform: uppercase;
}

.inline-block {
    display: inline-block;
}

.block {
    display: block;
}

ul {
    list-style: none;
}

h6 {
    text-align: center;
    font-size: 20px;
    font-family: "Dancing Script", sans-serif;
    color:#222222;
}


/*----------------------------------------------------------Colours*/


/*----------------------------------------------------------Nav Bar*/

.nav-menu .navbar-dark {
    background-color: #91AC98!important;
}
.nav-menu .navbar-toggler {
    padding-right: 25px;
    border: none;
    font-size: 20px;
}

.navbar-nav {
    text-align: right;
    margin-right: 20px;
}

.nav-link {
    font-size: 16px;
    margin: 4px;
}

.navbar-brand img {
    margin-left: 20px;
    margin-right: 20px;
}

.navbar-brand {
    font-size: 30px;
    color: #222222!important;
    font-family: 'Dancing Script', sans-serif;
}

@media screen and (max-width: 600px) {
  .navbar-brand {
    font-size: 0px;
  }
}


a.nav-link.hvr-underline-from-center::before{ 
    background-color: white;
    height: 1px;
}

.dropdown-menu {
    background-color:#91AC98;  
}

a.dropdown-item {
    color: white;
}
/*----------------------------------------------------------Call Out Container*/
/*The Below is Taken & Modified from Matt Rudge Whiskey Drop Challenge Code Institute*/

.callout-container {
    background: url(/assets/images/home/heroimage.jpg) no-repeat bottom right fixed;
    height: 75vh;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex; 
    align-items: center;
    justify-content: center;
    position: relative;
}

#text-overlay { 
    max-height: 100px;
    display: block;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;  
}
#text-overlay h1 {
    color: White;
    font-size: 60px; 
    text-transform: capitalize;
}

.booking-btn {
    font-family: 'Dancing Script', sans-serif;
    color: #A5907C;
    background-color: white; 
    border-radius: 30px;
    font-size: 30px;
    border: none;
    padding: 10px 15px 10px 15px; 
}

/*----------------------------------------------------------Footer*/
/*The Below is Taken & Modified from Matt Rudge UCD Resume Challenge Code Institute*/

footer {
   background-color: #91AC98;
   color: white; 
   padding: 8px 16px 8px 16px;
   min-height: 120px;
}

.footer {
    display: block;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;    
}


p.footer i {
    width: 30px; 
    height: 30px;
    padding: 10px;
    margin-right: 2px;  
    font-size: 15px;
    line-height: 10px;
    text-align: center;
    color: #fafafa;
    
}

img.logo.footer {
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
    width: 150px;
    height: 150px;
}
.social-btns {
    text-align: center;
    
}
.social-btns li {
    display: inline;
}

.social-btns li a i {
    width: 30px; 
    height: 30px;
    padding: 10px;
    padding-bottom: 0px;
    margin-right: 2px;
    font-size: 15px;
    line-height: 10px;
    text-align: center;
    color: #fafafa; 
}

ul.social-btns {
    margin-bottom: 5px;
}

.social-btns li a i:hover {
    background-color: #fafafa;
    border-radius: 50%;
    color: black;
}

#newsletter {
    text-align: center;
}

.newsletter {
    color: #222222;
    border-radius: 5px;
    border: none;
    padding: 2.5px 2px 2.5px 2px;
}
.subscribe {
    color: #222222;
    border-radius: 5px;
    border: none;
    text-align: center;
    padding: 2.5px 2px 2.5px 2px;
}

